

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
    <div class="content">
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
        <p1>@Model.Genre</p1>
        <br><br />
          <a href="@Model.Details">Watch Trailer Here</a>
            <div class="cl">&nbsp;</div></div>
        <div class="cl">&nbsp;</div>
    </div>
    </div>
</body>
</html>